.DS_store
.env
__pycache__
FI-Ran_EC_2022/
models/
data/
microbial_sampling/
old_notebooks/
non_essential_notebooks/
figures/
drone_data_8_june_2022/
calculate_temperature_between_ghg_peaks.ipynb
ch4_model_test.ipynb
NEE_2022_2023.ipynb
footprint_test_calculation.ipynb
plot_best_model_performance.ipynb
measurement_map.ipynb



