.venv
.venv_poetry
.vscode
.DS_store
.env
.ipynb_checkpoints
.pytest_cache
__pycache__
FI-Ran_EC_2022/
models/
microbial_sampling/
old_notebooks/
non_analysis_notebooks/
figures/
drone_data_8_june_2022/
data_transformations_notebooks/



